@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: var(--background-color);
}

.menu-home {
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
    margin-left: 24px;
}

.MenuDiv {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    flex: 0 1 500px;
    margin: 0 12%;
}

.search-preview {
    position: fixed;
    top: 42px;
    width: 100px;
    background-color: black;
    min-height: 15px;
    flex: 0 1 500px;
    margin: 0;
}

.search-input {
    height: 16px;
    padding: 7px 14px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    outline: 0px solid var(--primary-color);
    flex: 1;
}

.search-input:hover {
    border: 1px solid var(--primary-color);
}

.search-input:focus {
    border: 2px solid var(--primary-color);
}

.search-bar-button {
    border-radius: 4px !important;
    -webkit-border-bottom-left-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
    -webkit-border-top-left-radius: inherit !important;
    border-top-left-radius: inherit !important;
}

.search-bar-button:hover {
    background-color: #d9dee2;
}

.search-bar-button:active {
    background-color: #cbd3da;
    outline: 1.5px solid var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.user-menu {
    display: flex;
    align-items: center;
}

.menu-icon {
    color: rgb(30, 30, 30);
    font-size: 20px;
}

.menu-button {
    user-select: none;
    padding: 6px 12px;
    display: flex;
    background-color: #e9ecef;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.02s all ease-in-out;
    outline: 0px solid var(--primary-color);
}

.menu-button:hover {
    background-color: #d9dee2;
}

.menu-button:active {
    background-color: #cbd3da;
    outline: 1px solid var(--primary-color);
}

.header {
    background-color: var(--secondary-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    padding: 8px 16px;
    text-align: center;
}

@media (max-width: 650px) {
    .search-bar {
        margin: 0 2%;
    }
}

:root {
    --primary-color: rgb(56, 162, 73);
    --secondary-color: rgb(255, 255, 255);
    --background-color: rgb(247, 247, 247);
    --item-border: 1px solid rgba(0, 0, 0, 0.125);
}
